<a asp-action="Profile" asp-controller="User" class="access_link"><span>Tài khoản</span></a>
<div class="dropdown-menu">
    @if (User.Identity.IsAuthenticated)
    {
        {
            <a asp-action="Profile" asp-controller="User">@User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value</a>
            <a asp-action="Logout" asp-controller="User" class="button_inc">Logout</a>
        }
    }
    else
    {
        <a asp-action="Login" asp-controller="User" class="btn_1">Đăng nhập</a>
        <a asp-action="Register" asp-controller="User" class="btn_1 outline">Đăng ký</a>
    }
    <ul>
        <li>
            <a asp-action="TrackOder" asp-controller="Cart">
                <i class="ti-truck"></i>Kiểm tra đơn hàng
            </a>
        </li>
        <li>
            <a asp-action="Order" asp-controller="Cart">
                <i class="ti-package"></i>Đơn hàng của bạn
            </a>
        </li>
        <li>
            <a asp-action="Profile" asp-controller="User">
                <i class="ti-user"></i>Thông tin tài khoản
            </a>
        </li>
        <li>
            <a asp-action="Help" asp-controller="Home">
                <i class="ti-help-alt"></i>Trợ giúp và hỏi đáp
            </a>
        </li>
    </ul>
</div>