@model BinhDinhFood.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Tạo loại sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Quản lý loại sản phẩm</a> </li>
            <li class="breadcrumb-item active">Tạo loại sản phẩm</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Create" class="row g-3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tạo loại sản phẩm</h5>
                        <div class="col-12">
                            <label asp-for="CategoryName" class="control-label"></label>
                            <input asp-for="CategoryName" class="form-control" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <label for="submit">
                            <input type="submit" value="Create" id="submit" hidden />
                        </label>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-file-earmark-plus"></i> Tạo loại sản phẩm</button>
                        <button type="reset" class="btn btn-secondary"><i class="bi bi-trash2-fill"></i> Khởi tạo lại </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div>
    <a class="btn btn-dark rounded-pill" asp-action="Index"><i class="bi bi-caret-left"></i>Trở về</a>
</div>

