@model Blog
@{
    ViewData["Title"] = "BlogPost";
}
<div class="container margin_30">
    <div class="page_header">
        @await Component.InvokeAsync("HeaderComponent")
    </div>
    <!-- /page_header -->
    <div class="row">
        <div class="col-lg-9">
            <div class="singlepost">
                <figure><img alt="" class="img-fluid" src="~/Content/img/products/@Model.BlogImage" style="width:1000px; height: 600px"></figure>
                <h1>@Model.BlogName</h1>
                <div class="postmeta">
                    <ul>
                        <li><a href="#"><i class="ti-folder"></i> Category</a></li>
                        <li><i class="ti-calendar"></i> @Model.BlogDateCreated</li>
                        <li><a href="#"><i class="ti-user"></i> Admin</a></li>
                        <li><a href="#"><i class="ti-comment"></i> (14) Comments</a></li>
                    </ul>
                </div>
                <!-- /post meta -->
                <div class="post-content">
                    <div class="dropcaps">
                        <p>@Model.BlogContent</p>
                    </div>

                    <p>@Model.BlogContent</p>
                </div>
                <!-- /post -->
            </div>
            <!-- /single-post -->
        </div>
        <!-- /col -->
        @await Component.InvokeAsync("BlogAsideComponent")
    </div>
    <!-- /row -->
</div>
<!-- /container -->