@{
	ViewData["Title"] = "LeaveReview";
}
<form asp-action="LeaveReview" method="post" asp-route-id="@Model.ProductId">
	<div class="container margin_60_35">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="write_review">
					<h1>Viết đánh giá</h1>
					<div class="rating_submit">
						<div class="form-group">
							<label class="d-block">Đánh giá</label>
							<span class="rating mb-0" ">
								<input type="radio" class="rating-input" id="5_star" name="rating-input" value="5"><label for="5_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="4_star" name="rating-input" value="4"><label for="4_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="3_star" name="rating-input" value="3"><label for="3_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="2_star" name="rating-input" value="2"><label for="2_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="1_star" name="rating-input" value="1"><label for="1_star" class="rating-star"></label>
							</span>

						</div>
					</div>
					<!-- /rating_submit -->
					<div class="form-group">
						<label>Đánh giá của bạn</label>
						<textarea class="form-control" style="height: 180px;" placeholder="Viết đánh giá của bạn về sản phẩm" name="RatingContent"></textarea>
					</div>
					<div class="form-group">
						<div class="fileupload"><input type="file" name="fileupload" accept="image/*" hidden></div>
					</div>

					<button type="submit" class="btn_1">Gửi đánh giá</button>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</form>
