
@{
    ViewData["Title"] = "Checkout";
}

<div class="container margin_30">
	<div class="page_header">
		<div class="breadcrumbs">
			<ul>
				<li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
				<li><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
			</ul>
		</div>
		<h1>Thanh toán</h1>

	</div>
	<!-- /page_header -->
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="step middle payments">
				<h3>2. Payment and Shipping</h3>
				<ul>
					<li>
						<label class="container_radio">
							Credit Card<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="payment" checked>
							<span class="checkmark"></span>
						</label>
					</li>
					<li>
						<label class="container_radio">
							Paypal<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="payment">
							<span class="checkmark"></span>
						</label>
					</li>
					<li>
						<label class="container_radio">
							Cash on delivery<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="payment">
							<span class="checkmark"></span>
						</label>
					</li>
					<li>
						<label class="container_radio">
							Bank Transfer<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="payment">
							<span class="checkmark"></span>
						</label>
					</li>
				</ul>
				<div class="payment_info d-none d-sm-block"><figure><img src="img/cards_all.svg" alt=""></figure>	<p>Sensibus reformidans interpretaris sit ne, nec errem nostrum et, te nec meliore philosophia. At vix quidam periculis. Solet tritani ad pri, no iisque definitiones sea.</p></div>

				<h6 class="pb-2">Shipping Method</h6>


				<ul>
					<li>
						<label class="container_radio">
							Standard shipping<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="shipping" checked>
							<span class="checkmark"></span>
						</label>
					</li>
					<li>
						<label class="container_radio">
							Express shipping<a href="#0" class="info" data-toggle="modal" data-target="#payments_method"></a>
							<input type="radio" name="shipping">
							<span class="checkmark"></span>
						</label>
					</li>

				</ul>

			</div>
			<!-- /step -->

		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->