@foreach (var item in Model)
{
    <li>
        <a href="">
            <figure>
                <img src="~/Content/img/products/@item.sProductImage" alt="" width="50" height="50" class="lazy">
            </figure>
            <strong><span>@item.sProductName</span>@item.dUnitPrice</strong>
        </a>
        <a href="#0" class="action"><i class="ti-trash"></i></a>
    </li>
}