<form asp-action="RevenueStructure" method="get">
    <select name="option">
        <option value=@ViewData["option"]>@ViewData["option"]</option>
        <option value=2022>2022</option>
        <option value=2021>2021</option>
        <option value=2020>2020</option>
    </select>
    <input value="Submit" type="submit" />
</form>
<canvas id="newchart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {


        var ctx = document.getElementById('newchart').getContext('2d');
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);
        console.log(model)
        var doanhthunam = new Chart(ctx, model)
    });


</script>
