@model BinhDinhFoodWeb.Models.Banner

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Chỉnh sửa Banner</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Quản lý banner</a> </li>
            <li class="breadcrumb-item active">Chỉnh sửa</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Create" class="row g-3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tạo banner</h5>
                        <div class="form-group">
                            <label asp-for="BannerName" class="control-label"></label>
                            <input asp-for="BannerName" class="form-control" />
                            <span asp-validation-for="BannerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductDiscount" class="control-label"></label>
                            <input asp-for="ProductDiscount" class="form-control" />
                            <span asp-validation-for="ProductDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BannerPrice" class="control-label"></label>
                            <input asp-for="BannerPrice" class="form-control" />
                            <span asp-validation-for="BannerPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BannerDescription" class="control-label"></label>
                            <textarea asp-for="BannerDescription" class="form-control"></textarea>
                            <span asp-validation-for="BannerDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BannerImage" class="form-label"></label>
                            <br />
                            <img src="" id="img-preview" class="img-fluid" />
                            <br />
                            <input asp-for="BannerImage" type="file" class="form-control" id="upload-btn" hidden />
                            <label asp-for="BannerImage" for="upload-btn" class="control-label">
                                <a class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            </label>
                            <a id="clear-btn" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                            <span asp-validation-for="BannerImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BannerDateCreated" class="control-label"></label>
                            <input asp-for="BannerDateCreated" class="form-control" />
                            <span asp-validation-for="BannerDateCreated" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <label for="submit">
                            <input type="submit" value="Create" id="submit" hidden />
                        </label>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-file-earmark-plus"></i> Tạo bài viết</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div>

    <a class="btn btn-dark rounded-pill" asp-action="Index"><i class="bi bi-caret-left"></i>Trở về</a>
</div>