<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Product.ProductId</th>
                <td>@item.Product.ProductName</td>
                <td><img src="~/Content/img/products/@item.Product.ProductImage" width="150"></td>
                <td>
                    <a asp-action="RemoveInFavorite"
                   asp-controller="Cart"
                   asp-route-id="@item.Product.ProductId"
                   data-ajax-success="removeFavAlert"
                   data-ajax-failure="addCartFailAlert"
                   data-ajax-update="#favorite-list"
                   class="btn_1">
                        Xoá
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<!-- End Table with hoverable rows -->