@model BinhDinhFoodWeb.Models.ChangePasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="ChangePass" method="post">
    <div class="form-group">
        <input asp-for="OldPassword" type="password" class="form-control" value="" placeholder="Old Password*">
    </div>
    <div class="form-group">
        <input asp-for="NewPassword" type="password" class="form-control" value="" placeholder="New Password*">
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" type="password" class="form-control" value="" placeholder="Confirm Password*">
    </div>
    <span class="bg-warning" style="color:red">@ViewBag.Message</span>
    <div class="text-center"><input type="submit" value="Submit Change" class="btn_1 full-width"></div>
</form>
<a asp-action="ChangeInfor">Change Infor</a>