@model BinhDinhFoodWeb.Models.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container">
    <!-- register page-->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center w-auto">
                            <img src="~/Content/img/Bình Định Food-black.png" alt="">
                            <span class="d-none d-lg-block">Bình Đình Food</span>
                        </a>
                    </div>
                    <!-- End Logo -->

                    <div class="card mb-3">
                        <div class="form_container">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Tạo tài khoản</h5>
                                    <p class="text-center small">Nhập thông tin dưới đây để tạo tài khoản</p>
                                </div>
                                <form asp-action="Register" method="post" class="row g-3 needs-validation">
                                    <!--username-->
                                    <div class="form-group">
                                        <div class="col-12">
                                            <input asp-for="UserName" type="text" class="form-control" placeholder="Tên tài khoản*">
                                        </div>
                                    </div>
                                    <div class="col-12"></div>
                                    <div class="row no-gutters col-11">
                                        <!--pass-->
                                        <div class="col-6 pr-1">
                                            <div class="form-group">
                                                <input asp-for="Password" type="password" class="hideShowPassword-wrapper" placeholder="Mật khẩu*">
                                            </div>
                                        </div>
                                        <!--re - pass-->
                                        <div class="col-6 pl-1">
                                            <div class="form-group">
                                                <input asp-for="ConfirmPassword" type="password" class="hideShowPassword-wrapper" placeholder="Nhập lại mật khẩu*">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <!--hoten-->
                                    <div class="form-group">
                                        <input asp-for="FullName" type="text" class="form-control" placeholder="Họ tên*">
                                    </div>
                                    <!--email-->
                                    <div class="form-group">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email*">
                                    </div>
                                    <!--address-->
                                    <div class="form-group">
                                        <input asp-for="Address" type="text" class="form-control" placeholder="Địa chỉ*">
                                    </div>
                                    <hr>
                                    <!--button input-->

                                    <div class="form-group">
                                        <label class="container_check">
                                            Chấp nhận <a href="#0">Điều khoản và chính sách</a>
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="term" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="text-center"><input type="submit" id="registersubmit" value="Đăng ký" class="btn btn-primary w-100" disabled></div>
                                </form>
                                <div class="col-12">
                                    <p class="small mb-0">Bạn đã có tài khoản? <a asp-action="Login">Đăng nhập</a></p>
                                    <a asp-action="ForgotPassword">Quên mật khẩu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#term").click(function () {
        if ($(this).is(':checked')) $('#registersubmit').prop('disabled', false);
        else $('#registersubmit').prop('disabled', true);
    });
</script>
<!-- /form_container -->
