@model BinhDinhFoodWeb.Models.RegisterViewModel
<h3 class="new_client">New Client</h3> <small class="float-right pt-2">* Required Fields</small>
<div class="form_container">
    <form asp-action="Register" method="post">
        <div class="form-group">
            <input asp-for="CustomerUserName" type="text" class="form-control" placeholder="User Name*">
        </div>
        <div class="row no-gutters">
            <div class="col-6 pr-1">
                <div class="form-group">
                    <input asp-for="CustomerPassword" type="password" class="hideShowPassword-wrapper" placeholder="Password*">
                </div>
            </div>
            <div class="col-6 pl-1">
                <div class="form-group">
                    <input asp-for="CustomerConfirmPassword" type="password" class="hideShowPassword-wrapper" placeholder="Confirm Password*">
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="form-group">
            <input asp-for="CustomerFullName" type="text" class="form-control" placeholder="Họ tên*">
        </div>
        <div class="form-group">
            <input asp-for="CustomerEmail" type="email" class="form-control" placeholder="Email*">
        </div>
        <div class="form-group">
            <input asp-for="CustomerAddress" type="text" class="form-control" placeholder="Địa chỉ*">
        </div>
        @*<div class="form-group">
            <input type="password" class="form-control" name="password_in_2" id="password_in_2" value="" placeholder="Password*">
        </div>*@

        <hr>
        <div class="form-group">
            <label class="container_check">
                Accept <a href="#0">Terms and conditions</a>
                <input id="term" type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="text-center"><input type="submit" id="registersubmit" value="Register" class="btn_1 full-width" disabled></div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#term").click(function () {
        if ($(this).is(':checked')) $('#registersubmit').prop('disabled', false);
        else $('#registersubmit').prop('disabled', true);
    });
</script>
<!-- /form_container -->