@model BinhDinhFoodWeb.Models.ResetViewModel

@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}



<div class="container">
    <!-- register page-->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center w-auto">
                            <img src="~/Content/img/Bình Định Food-black.png" alt="">
                            <span class="d-none d-lg-block">Bình Đình Food</span>
                        </a>
                    </div>
                    <!-- End Logo -->

                    <div class="card mb-3">
                        <div class="form_container">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Đăng nhập</h5>
                                    <p class="text-center small">Nhập thông tin dưới đây để đăng nhập</p>
                                </div>

                                <form asp-action="ResetPassword" method="post" class="row g-3 needs-validation">
                                    <input asp-for="UserName" value="@ViewBag.UserName" hidden />
                                    <input asp-for="Token" value="@ViewBag.Token" hidden />
                                    <div class="form-group">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Password*">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password*">
                                    </div>
                                    <p>@ViewBag.Message</p>
                                    <input type="submit" value="Submit" class="btn btn-primary w-100" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>