@model BinhDinhFoodWeb.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Đổi thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <!-- register page-->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center w-auto">
                            <img src="~/Content/img/Bình Định Food-black.png" alt="">
                            <span class="d-none d-lg-block">Bình Đình Food</span>
                        </a>
                    </div>
                    <!-- End Logo -->

                    <div class="card mb-3">
                        <div class="form_container">
                            <div class="card-body">
                                <div class="pt-5 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Đổi mật khẩu</h5>
                                    <p class="text-center small">Nhập thông tin dưới đây để đổi mật khẩu</p>
                                    <form asp-action="ChangePass" method="post" class="row g-3 needs-validation">

                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input asp-for="OldPassword" type="password" type="password" class="form-control" id="currentPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input asp-for="NewPassword" type="password" type="password" class="form-control" id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="renewPassword">
                                            </div>
                                        </div>
                                        <span class="bg-warning" style="color:red">@ViewBag.Message</span>
                                        <div class="text-center"><input type="submit" value="Cập nhật" class="btn btn-primary"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>