@model BinhDinhFoodWeb.Models.ForgotViewModel


@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <!-- register page-->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center w-auto">
                            <img src="~/Content/img/Bình Định Food-black.png" alt="">
                            <span class="d-none d-lg-block">Bình Đình Food</span>
                        </a>
                    </div>
                    <!-- End Logo -->

                    <div class="card mb-3">
                        <div class="form_container">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                                    <p class="text-center small">Nhập thông tin dưới đây để lấy lại tài khoản</p>
                                </div>
                                <form asp-action="ForgotPassword" method="post" class="row g-3 needs-validation">
                                    <div class="form-group">
                                        <input asp-for="UserName" type="text" class="form-control" placeholder="Nhập tên tài khoản">
                                    </div>
                                    <div class="col-12"></div>

                                    <div class="form-group">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email">
                                    </div>

                                    <div class="text-center"><input type="submit" value="Gửi mail" class="btn btn-primary w-100"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

