@model BinhDinhFoodWeb.Models.ResetViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Lấy lại mật khẩu";
        Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<form asp-action="ResetPassword" method="post">
    <input asp-for="UserName" value="@ViewBag.UserName" hidden />
    <input asp-for="Token" value="@ViewBag.Token" hidden />
    <div class="form-group">
        <input asp-for="Password" type="password" class="hideShowPassword-wrapper" placeholder="Password*">
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" type="password" class="hideShowPassword-wrapper" placeholder="Confirm Password*">
    </div>
    <p>@ViewBag.Message</p>
    <input type="submit" value="Submit" />
</form>