@{
	ViewData["Title"] = "About";
}
<div class="container margin_60_35 add_bottom_30">
	<div class="main_title">
		<h2>Về Bình Định Food</h2>
		<p>
			Trang thương mại điện tử về đặc sản Bình Định hàng đầu Việt Nam
		</p>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Sản phẩm nổi bật</h2>
				<p class="lead">Bình Định</p>
				<p>Bình Định là một tỉnh thuộc vùng duyên hải Nam Trung Bộ Việt Nam. Tỉnh lỵ của Bình Định là thành phố cảng Quy Nhơn nằm cách thủ đô Hà Nội 1.070 km về phía nam, cách thành phố Đà Nẵng 323 km về phía nam và cách Thành phố Hồ Chí Minh 652 km về phía bắc theo đường Quốc lộ 1</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_1">
			</div>
		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_1.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Thương hiệu hàng đầu</h2>
				<p class="lead">Quy Nhơn</p>
				<p>Quy Nhơn là một thành phố lớn ven biển vùng duyên hải Nam Trung Bộ, Việt Nam và là trung tâm kinh tế, chính trị, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Bình Định, Việt Nam. Trước khi thuộc về Việt Nam, Quy Nhơn từng là đất của người Champa nên xung quanh thành phố hiện vẫn tồn tại nhiều di tích Chăm.</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_2">
			</div>
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center ">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>+5000 sản phẩm</h2>
				<p class="lead">Trường Quốc học Quy Nhơn</p>
				<p>Trường Quốc Học Quy Nhơn là một trường Trung học ở Quy Nhơn, Bình Định. Cùng với Quốc học Huế, Quốc học Vinh, Trường là một trong ba trường Quốc học được chính quyền Pháp mở ra ở Trung kì, tên gọi đầu tiên là Collège de Quinhon, với mục đích là đào tạo lớp công chức cho Chính phủ Bảo hộ Nam triều.</p>
			</div>

		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<div class="bg_white">
	<div class="container margin_60_35">
		<div class="main_title">
			<h2> Tại sao chọn BinhDinhFood? </h2>
			<p> Khi bạn đói hoặc cần mua quà lưu niệm khi đến Bình Định. </p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-medall-alt"> </i>
					<h3> + 1000 khách hàng </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ lắng nghe sức mạnh của cách giải thích của bạn về cuộc tấn công, khi không còn lựa chọn nào khác, vì nó là sách hơn. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-help-alt"> </i>
					<h3> Hỗ trợ H24 </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ nghe bạn giải thích lực lượng của các cuộc tấn công, khi không có lựa chọn nào khác, bởi vì nó là nhiều sách hơn. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-gift"> </i>
					<h3> Khuyến mại lớn </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ lắng nghe sức mạnh của cách giải thích của bạn về cuộc tấn công, khi không còn lựa chọn nào khác, vì nó là sách hơn. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-headphone-alt"> </i>
					<h3> Đường dây trực tiếp trợ giúp </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ nghe bạn giải thích lực lượng của các cuộc tấn công, khi không có lựa chọn nào khác, bởi vì nó là nhiều sách hơn. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-wallet"> </i>
					<h3> Thanh toán an toàn </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ lắng nghe sức mạnh của cách giải thích của bạn về cuộc tấn công, khi không còn lựa chọn nào khác, vì nó là sách hơn. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-comments"> </i>
					<h3> Hỗ trợ qua Trò chuyện </h3>
					<p> Đây là những gì bài tập về nhà của tôi nói, và nó thậm chí không làm tôi bận tâm ở phần trên cùng. Tôi sẽ nghe bạn giải thích lực lượng của các cuộc tấn công, khi không có lựa chọn nào khác, bởi vì nó là nhiều sách hơn. </p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container margin_60">
	<div class="main_title">
		<h2>Đội ngũ phát triển</h2>
		<p>Website đặc sản Bình Định - Bình Định Food - My first website</p>
	</div>
	<div class="owl-carousel owl-theme carousel_centered">
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Võ Thương Trường Nhơn<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/nhon.jpg" alt="" style="width:350px; height: 450px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Phạm Đức Tài<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/tai.jpg" alt="" style="width:350px; height: 450px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Nguyễn Hồng Thái<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/thai.jpg" alt="" style="width:350px; height: 450px;">
			</a>
		</div>
	</div>
	<!-- /carousel -->
</div>
<!-- /container -->