@{
    ViewData["Title"] = "Trợ giúp";
}
<!-- /top_banner -->
<div class="page_header">
    <div class="breadcrumbs">
        <ul>
            <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li><a asp-action="Index" asp-controller="Product">Trợ giúp</a></li>
        </ul>
    </div>
    <h1> Trợ giúp và Hỗ trợ </h1>
</div>
<div id="container">

    <div class="search-input">
        <input type="text" placeholder="Tìm kiếm câu hỏi hoặc bài viết ...">
        <button type="submit"> <i class="ti-search"> </i> </button>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-wallet"> </i>
                <h3> Thanh toán </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-user"> </i>
                <h3> Tài khoản </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-help"> </i>
                <h3> Trợ giúp chung </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-truck"> </i>
                <h3> Vận chuyển </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-eraser"> </i>
                <h3> Hủy </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
                <i class="ti-comments"> </i>
                <h3> Bài đánh giá </h3>
                <p> Id ur congue dictas, recedit et summo mazim. Vim te audiam thúc đẩy. </p>
            </a>
        </div>
    </div>
    <div class="bg_white">
        <div class="container margin_30">
            <h5> Các bài báo phổ biến </h5>
            <div class="list_articles add_bottom_15 clearfix">
                <ul>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Tài khoản </strong> - Et dicit vidisse epicurei pri </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Tài khoản </strong> - Ad sit Virtute rationibus hiệu quả </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Hoàn lại tiền </strong> - Partem vocibus omittam pri ne </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Vận chuyển </strong> - Bộ đôi ứng dụng gỡ lỗi trường hợp </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Thanh toán </strong> - Cản trở quo trong torquatos </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Bảo hành </strong> - Nec omnis alieum no </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Hoàn lại tiền </strong> - Quo eu soleat secureisi menandri </a> </li>
                    <li> <a href="#0"> <i class="ti-file"> </i> <strong> Bài đánh giá </strong> - Et dicit vidisse epicurei pri </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
