@using System.Globalization
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<div id="carousel-home">
    <div class="owl-carousel owl-theme">
        @await Component.InvokeAsync("BannerComponent")
    </div>
    <div id="icon_drag_mobile"></div>
</div>
<!--/carousel-->

<!--/banners_grid -->
<ul id="banners_grid" class="clearfix">
    <li>
        <a asp-action="SearchByFilter" asp-controller="Product" asp-route-categoryId="1" class="img_container">
            <img src="~/Content/img/products/tom-kho-gia-bao-nhieu-1kg.jpg" alt="" class="lazy">
            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <h3>Đồ khô</h3>
                <div><span class="btn_1">Xem ngay</span></div>
            </div>
        </a>
    </li>
    <li>
        <a asp-action="SearchByFilter" asp-controller="Product" asp-route-categoryId="6" class="img_container">
            <img src="~/Content/img/products/banhit.png" alt="" class="lazy">
            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <h3>Bánh truyền thống</h3>
                <div><span class="btn_1">Xem ngay</span></div>
            </div>
        </a>
    </li>
    <li>
        <a asp-action="SearchByFilter" asp-controller="Product" asp-route-categoryId="7" class="img_container">
            <img src="~/Content/img/products/muc-ngao-ot-dac-san-binh-dinh-lam-qua.jpg" alt="" class="lazy">
            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <h3>Đồ đặc sản</h3>
                <div><span class="btn_1">Xem ngay</span></div>
            </div>
        </a>
    </li>
</ul>
<!--/banners_grid -->
@await Component.InvokeAsync("TopSaleComponent")

@await Component.InvokeAsync("SingleBannerComponent")

<!-- /featured -->
@await Component.InvokeAsync("NewDealComponent")

<div class="bg_gray">
    <div class="container margin_30">
        <div id="brands" class="owl-carousel owl-theme">
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_1.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_2.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_3.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_4.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_5.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
            <div class="item">
                <a href="~/Content/#0"><img  src="~/Content/img/brands/logo_6.png" alt="" class="owl-lazy"></a>
            </div><!-- /item -->
        </div><!-- /carousel -->
    </div><!-- /container -->
</div>
<!-- /bg_gray -->
@await Component.InvokeAsync("NewsComponent")
