@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div id="error_page">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-xl-7 col-lg-9">
				<img src="~/Content/img/404.svg" alt="" class="img-fluid" width="400" height="212">
				<p>Trang bạn đang tìm chưa có!</p>
				<form>
					<div class="search_bar">
						<input type="text" class="form-control" placeholder="Bạn đang kiếm gì nè?">
						<input type="submit" value="Search">
					</div>
				</form>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /error_page -->