<div class="breadcrumbs">
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li><a asp-action="Index" asp-controller="Blog">Bài viết &amp; Tin tức</a></li>
    </ul>
</div>