
<canvas id="newchart"></canvas>
<!--<div class="row">-->
<!-- Pie Chart -->
<!--<div class="col-xl-6 col-lg-7">
    <div class="card shadow mb-4">-->
<!-- Card Header - Dropdown -->
<!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">
        Doanh thu gói theo nă
    </h6>
</div>-->
<!-- Card Body -->
<!--<div class="card-body">

            </div>
        </div>
    </div>
</div>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {


        var ctx = document.getElementById('newchart').getContext('2d');
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);
        console.log(model)
        var hi = new Chart(ctx, model)
    });


</script>

